<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hhx.mybatis.dao.DepartmentDao">

    <resultMap id="myDept" type="cn.hhx.mybatis.bean.Department">
        <id column="id" property="id"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>
    <select id="getDeptById" resultMap="myDept">
        select *
        from department
        where id = #{id}
    </select>

    <resultMap id="myDeptAndEmp" type="cn.hhx.mybatis.bean.Department">
        <id column="id" property="id"/>
        <result column="dept_name" property="deptName"/>
        <!--关系中为多的一方-->
        <collection property="empList" select="cn.hhx.mybatis.dao.EmployeeDao.getEmpListByDeptId"
                    column="{deptId=id}" fetchType="eager"></collection>
        <!--拓展：1、当column要传多个值的时候，可以使用column="{key1=column1,key2=column2}"
                    其中key的的取值与要传入的参数名一致
                    2、可以使用fetchType="eager|lazy" 属性定义局部是否懒加载-->
    </resultMap>


    <select id="getDeptAndEmp" resultMap="myDeptAndEmp">
        select *
        from department
        where id = #{id}
    </select>
</mapper>