<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hhx.ssm.dao.AccountDao">
    <cache/>
    <resultMap id="myAccount" type="cn.hhx.ssm.bean.Account">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="money" property="money"/>
    </resultMap>

    <select id="getAllAccount" resultMap="myAccount">
        select *
        from account;
    </select>

    <select id="getMoney" resultType="int">
        select money
        from account
        where id = #{id}
    </select>

    <update id="updateMoney">
        update account
        set money = money - #{money}
        where id = #{id}
    </update>
</mapper>